* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 8%);
}
.all {
  width: 400px;
  height: 690px;
  background-color: hsl(0, 0%, 12%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
}
.all .image img {
  border-radius: 50%;
  margin-bottom: 30px;
  height: 100px;
}
h1 {
  margin-bottom: 10px;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}
h4 {
  color: hsl(75, 94%, 57%);
  margin-bottom: 30px;
  font-weight: 600;
}
p {
  margin-bottom: 30px;
  color: white;
  font-size: 14px;
}
button {
  color: white;
  margin-bottom: 20px;
  background-color: hsl(0, 0%, 20%);
  border: 0;
  height: 50px;
  width: 300px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
button:hover {
  background-color: hsl(75, 94%, 57%);
  color: black;
}
span {
  color: white;
}
@media (max-width: 430px) {
  .all {
    width: 300px;
  }
  button {
    width: 250px;
  }
}
